@font-face {
    font-family: 'vazir';
    src: url('../Fonts/vazir.ttf') format('truetype');
}

* { font-family: 'vazir'; }

textarea {
    background: #f7f7f7;
    border: 1px dashed #888;
    border-radius: 5px;
    overflow: auto;
    width: 80%;
}

/* improved CSS for speech bubbles */

.assistant, .user {
    border-radius: 10px;
    font-family: vazir;
    font-size: 1.1em;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.assistant:after, .user:after {
    border: 20px solid transparent;
    content: '';
    margin-top: -30px;
    position: absolute;
}

.user {
    background: #03a9f4;
    color: #fff;
    margin-left: 20%;
    margin-right: 10%;
    text-align: right;
    top: 30%;
}

.assistant {
    background: #4CAF50;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
}

.user:after {
    border-left-color: #03a9f4;
    border-right: 0;
    right: -20px;
}

.assistant:after {
    border-left: 0;
    border-right-color: #4CAF50;
    left: -20px;
}

.msg { font-size: medium; }